body {
    font-family: sans-serif;
    background: linear-gradient(45deg, #aaa, #fff)
}

h1 {
    text-align: center;
    margin: 50px 0 20px 0;
}

p {
    text-align: center;
    color: #777;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.line {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.letter {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #787c7f;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;    
}

.letter.correct-spot {
    background-color: #6ca965;
    border-color: #6ca965;
    color: #fff;
}

.letter.correct-letter {
    background-color: #c8b653;
    border-color: #c8b653;
    color: #fff;
}

.letter.guessed {
    background-color: #787c7f;
    border-color: #787c7f;
    color: #fff;
}

button {
    padding: 15px;
    width: 280px;
}