body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.line {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.letter {
    width: 50px;
    height: 50px;
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.letter.correct-spot {
    background-color: #5f7;
}

.letter.correct-letter {
    background-color: #ff5;
}